name: Deploy frontend via SSH

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE,
      # so your workflow can access it
      - uses: actions/checkout@master

      # Copying files and artifacts via SSH
      - name: copy file via ssh key
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          port: 22
          source: "app,backend,nginx,prod.Dockerfile,nginx.conf,prod.docker-compose.yml"
          target: "www/app"

      - name: Docker-compose up via ssh
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: cd ~/www/app && docker-compose -f prod.docker-compose.yml up -d --remove-orphans
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          privateKey: ${{ secrets.SSH_KEY }}
