name: Deploy frontend via SSH

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checking out the repository
      - uses: actions/checkout@master

      - name: Make envfile
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_MYSQL_ROOT_PASSWORD: ${{ secrets.ROOT_PASSWORD }}
          envkey_MYSQL_DATABASE: ${{ secrets.MYSQL_DATABASE}}
          envkey_MYSQL_USER: ${{ secrets.MYSQL_USER}}
          envkey_MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
          envkey_MYSQL_PORT: ${{ secrets.MYSQL_PORT }}
          envkey_MYSQL_ADDRESS: ${{ secrets.MYSQL_ADDRESS }}
          envkey_MAIL_FROM: ${{ secrets.MAIL_FROM }}
          envkey_MAIL_FROM_PASSWORD: ${{ secrets.MAIL_FROM_PASSWORD }}
          envkey_MAIL_TO: ${{ secrets.MAIL_TO }}
          envkey_MAIL_IMAP_HOST: ${{ secrets.MAIL_IMAP_HOST }}
          envkey_MAIL_SMTP_HOST: ${{ secrets.MAIL_SMTP_HOST }}

          directory: .
          file_name: .env.local

      # Copying files and artifacts via SSH
      - name: Copy files
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          port: 22
          source: "frontend,backend,data,prod.Dockerfile,golang.Dockerfile,docker-compose.yml,.env,.env.local"
          target: "/var/www/app"

      - name: Docker-compose build
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: cd /var/www/app && docker-compose -f docker-compose.yml build --pull
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          privateKey: ${{ secrets.SSH_KEY }}

      - name: Docker-compose up
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: cd /var/www/app && docker-compose -f docker-compose.yml up -d --remove-orphans
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          privateKey: ${{ secrets.SSH_KEY }}