name: Deploy frontend via SSH

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checking out the repository
      - uses: actions/checkout@master

      # Copying files and artifacts via SSH
      - name: Copy files
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          port: 22
          source: "frontend,backend,data,prod.Dockerfile,golang.Dockerfile,docker-compose.yml,.env"
          target: "/var/www/app"

      - name: Make envfile
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_DEBUG: false
          envkey_SOME_API_KEY: "123456abcdef"
          envkey_SECRET_KEY: ${{ secrets.SECRET_KEY }}
          some_other_variable: foobar
          directory: /github/workspace
          file_name: .env.custom

      - name: Copy .env.custom
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          port: 22
          source: "/github/workspace/.env.custom"
          target: "/var/www/app"

      - name: Docker-compose build
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: cd /var/www/app && docker-compose -f docker-compose.yml build --pull
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          privateKey: ${{ secrets.SSH_KEY }}

      - name: Docker-compose up
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: cd /var/www/app && docker-compose -f docker-compose.yml up -d --remove-orphans
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          privateKey: ${{ secrets.SSH_KEY }}